@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, bumblebee;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.div1 {
  grid-column: span 3 / span 3;
  grid-row: span 3 / span 3;
  background-color: red;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  background-color: blue;
}

.div3 {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 4;
  background-color: blueviolet;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;
  background-color: green;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 5;
  background-color: greenyellow;
}
